body {
    margin: 0;
    padding: 110px;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.centrepls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;  
}

.loginButton{
    background: none;
    border: 5px solid #1b1919;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;


}
.loginButton:hover{
    color:#e1ffb3;
    letter-spacing: 0.04em;
    
}
.loginButton::before{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: -4;
    transition: transform 0.1s;
    transform-origin: 0.1;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1)
}

.button1::before{
    transform:scaleX(0);
}

.button2::before{
    transform:scaleX(0);
}

.button3::before{
    transform:scaleX(0);
}
.button4::before{
    transform:scaleX(0);
}

.button1:hover::before{
    transform: scaleY(1);
}

.button2:hover::before{
    transform: scaleY(1);
}

.button3:hover::before{
    transform: scaleY(1);
}

.button4:hover::before{
    transform: scaleY(1);
}